
/* 12) Footer */
.footer {
  background-color: var(--bg-box);
  height: 100px;
  border: 1px solid rgba(94, 92, 92, 0.362);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  position: sticky;
  gap: 30px;
}

.h3 {
  font-size: 1.4rem;
  font-weight: 800;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-container a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  &:active{
    color: rgb(255, 145, 0);
  }
}
@media (max-width:700px) {
  .h3{
    font-size: 1rem;
  }
  .footer-container a{
    font-size: 1.4rem;
  }
}