.containers {
  background-color: var(--bg-box);
  width: 90%;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(94, 92, 92, 0.362);
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  box-shadow: var(--box-shadow2);

}
.containers button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}
.containers input {
  margin-top: 10px;
  padding: 10px;
}

/* 11) Form */
.form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 70%;
  max-width: 400px;
  height: 70%;
  justify-content: center;
}

.form input {
  padding: 10px;
  border: none;
  font-size: 1rem;
  background-color:var(--bg-box2);
  font-weight: 700;
  border-radius: 5px;
  color: var(--text-color);
}

.form .btn {
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
  font-weight: 800;
  margin-top: 20px;
}

.heading {
  font-size: 3rem;
  text-align: center;
}

