
/* 13) Main clock */
.clock {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.15s;
}


.zone {
  font-size: 2rem;
}

.times {
  font-size: 4rem;
  font-weight: 700;
}
.h2 {
  font-size: 3rem;
  letter-spacing: 12px;
}
