.head {
  display: flex;
  background-color: var(--bg-box);
  width: 100%;
  height: 80px;
  gap: 20px;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  flex: 1;
 
}
.head1 {
  border-bottom: 1px solid rgba(94, 92, 92, 0.362);
}
.head nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.head nav a {
  text-decoration: none;
  background-color: rgba(118, 112, 112, 0.088);
  padding: 5px;
  border-radius: 5px;
   color: var(--text-color);
  display: flex;
  gap: 5px;

  &:active {
    color: red;
  }
  &:hover {
    background: rgba(118, 112, 112, 0.323);
    color:var(--hover);
  }
}
.head .login {
  background: transparent;
  border: none;
  color: orange;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  &:hover {
    color: black;
    background: rgb(253, 193, 82);
    padding: 3px;
    border-radius: 5px;
    transition: ease-in-out;
  }
}

@media (max-width: 700px) {
  .head nav a {
    font-size: 0.5rem;
  }
  .head .login {
    font-size: 0.5rem;
  }
}
