.head {
  display: flex;
  background-color: var(--bg-box);
  width: 100%;
  height: 80px;
  gap: 20px;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
  
}
.head1 {
  border-bottom: 1px solid rgba(56, 55, 55, 0.911);
}
.head nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.head nav a {
  text-decoration: none;
  background-color: rgba(118, 112, 112, 0.088);
  padding: 5px;
  border-radius: 5px;
  color: var(--text-color);
  display: flex;
  gap: 5px;
  pointer-events: auto;

  &:active {
    color: red;
  }
  &:hover {
    background: rgba(118, 112, 112, 0.323);
    color: var(--hover);
  }
}
.head .login {
  background: transparent;
  border: none;
  color: orange;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  &:hover {
    color: black;
    background: rgb(253, 193, 82);
    padding: 3px;
    border-radius: 5px;
    transition: ease-in-out;
  }
}

@media (max-width: 700px) {
  .head nav a {
    font-size: 0.9rem;
  }
  .head .login {
    font-size: 0.7rem;
  }
}

.hamburger {
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  background: none;
  border: none;
  /* position: fixed; */
  top: 10px;
  left: 10px;
  z-index: 1001;
  color: var(--text-color);
  pointer-events: auto;
  margin-right: auto;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100vh;
  background: var(--bg-slide);
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}

.sidebar.open {
  left: 0;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.sideContainer {
  display: flex;
  background-color: var(--bg-slide);
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  flex: 1;
  border-right: 1px solid rgb(140, 118, 77);
  -webkit-tap-highlight-color: transparent;
}
.sideContainer nav {
  display: flex;
  margin-right: auto;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}
.sideContainer nav a {
  text-decoration: none;
  background-color: rgba(118, 112, 112, 0.088);
  padding: 10px;
  border-radius: 5px;
  color: var(--text-color);
  display: flex;
  gap: 5px;
  pointer-events: auto;

  &:active {
    color: red;
  }
  &:hover {
    background: rgba(118, 112, 112, 0.323);
    color: var(--hover);
  }
}

.cross {
  background: rgba(118, 112, 112, 0.088);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  &:active {
    color: red;
  }
  &:hover {
    background: rgba(118, 112, 112, 0.323);
    color: var(--hover);
    transform: rotate(180deg);
    transition: 1s ease-in;
  }
}
